extends layout

block content



    h2 Добавить новость
    if cat

        form(action='/my/addnews', method='post', enctype='multipart/form-data')

            .form-group
                .input-group.margin-bottom-sm
                    span.input-group-addon
                        i.fa.fa-user-circle-o.fa-fw(aria-hidden='true')
                    input.form-control(type='text', placeholder='Заголовок', name='title')

            .form-group
                .input-group.margin-bottom-sm
                    textarea.form-control(rows=3, placeholder='Описание', id="editor1", name='description')

            .form-group
                .input-group.margin-bottom-sm
                    textarea.form-control(rows=10, placeholder='Текст', id="editor2", name='fulltext')


            .form-group
                .input-group.margin-bottom
                    select.form-control(name="category")
                        each item in cat
                            option(value=item.name) #{item.name}


            .form-group
                .input-group.margin-bottom-sm
                    select.form-control(name="active")
                        option(value="false") не активна
                        option(value="true") активна
            .form-group
                .input-group.margin-bottom-sm
                    select.form-control(name="top")
                        option(value="false") Обычная
                        option(value="true") Важная

            .form-group
                .input-group.margin-bottom-sm
                    select.form-control(name="ads")
                        option(value="true") Показывать Adsence
                        option(value="false") Не показывать Adsence

            .form-group
                input(type="file", name="image")

            .form-group



            button.btn-primary.btn(type='submit') Сохранить

    script.
        // Replace the <textarea id="editor1"> with a CKEditor
        // instance, using default configuration.
        //CKEDITOR.replace('editor1');
        CKEDITOR.replace('editor2');









